/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Press+Start+2P&display=swap');


:root {
  --primary: #e6e294;
  --primary--dim: #c8c57a;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  --red: #c71111;
  --green: #307317;
  --blue: #133aa5;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;

  --logo--scale: 57/16;
  --font: 'Press Start 2P', cursive;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-weight: 200;
  font-size: smaller;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

form {
  flex-grow: 1;
}

div {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

button {
  font-family: var(--font);
  font-size: larger;
  margin: var(--m);
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  background-image: url("images/Button.png");
  background-size: cover;
  padding: var(--m);
  border-width: 0;
  height: 80px;
  width: 240px;

}

.buttonS {
  font-family: var(--font);
  font-size: smaller;
  margin: var(--xs);
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  background-image: url("images/Button.png");
  background-size: cover;
  padding: var(--xs);
  border-width: 0;
  height: 60px;
  width: 180px;
}

button:hover {
  background-image: url("images/ButtonHover1.png");
}

.button2:hover {
  background-image: url("images/ButtonHover2.png");
}

.button3:hover {
  background-image: url("images/ButtonHover3.png");
}

.buttonRed {
  background-image: url("images/MoveButtonFire.png");
}

.buttonBlue {
  background-image: url("images/MoveButtonWater.png");
}

.buttonGreen {
  background-image: url("images/MoveButtonGrass.png");
}

.buttonRed:hover {
  background-image: url("images/MoveButtonFireHover.png");
}

.buttonBlue:hover {
  background-image: url("images/MoveButtonWaterHover.png");
}

.buttonGreen:hover {
  background-image: url("images/MoveButtonGrassHover.png");
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flexColumnR {
  display: flex;
  flex-direction: column-reverse;
}

.u-flexRow {
  display: flex;
  flex-direction: row;
}

.u-flexRowR {
  display: flex;
  flex-direction: row-reverse;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-flexWrap {
  flex-wrap: wrap;
}

.u-flexStay {
  flex: 0 0 auto;
}

.u-flexGrow {
  flex: 1 0 auto;
}

.u-flexShrink {
  flex: 0 1 auto;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font);
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-font {
  font-family: var(--font);
}

.u-xsMargin {
  margin: var(--xs);
}

.u-sMargin {
  margin: var(--s);
}

.u-mMargin {
  margin: var(--m);
}

.u-sPadding {
  padding: var(--s);
}

.u-mPadding {
  padding: var(--m);
}

.sprite {
  height: 256px;
  width: 256px;
  
  /* copied from https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.spriteSmall {
  height: 128px;
  width: 128px;
  
  /* copied from https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.spriteSSmall {
  height: 32px;
  width: 32px;
  
  /* copied from https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.equip {
  height: 64px;
  width: 64px;
  
  /* copied from https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}


.logo {
  height: 256px;
  width: (256*--logo--scale)px;

  
  /* copied from https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

  margin: var(--l);
}


html {background-color: #eeeeee}
