.currencyUI {
  margin: 0;
  padding: 0;
}

.green {
  background-color: var(--green);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}

.currencyEntry {
  margin: var(--m);
  font-size: small;
  color: white;
  text-decoration: none;
}

.spriteimg {
  margin: var(--s);
}
